# /mtk/ 过滤整个文件夹
# *.zip 过滤所有.zip文件
# /mtk/do.c 过滤某个具体文件
# !src/   不过滤该文件夹
# !*.zip   不过滤所有.zip文件
# !/mtk/do.c 不过滤该文件

# 最后需要强调的一点是，如果你不慎在创建.gitignore文件之前就push了项目，那么即使你在.gitignore文件中写入新的过滤规则，这些规则也不会起作用，Git仍然会对所有文件进行版本管理。
# 简单来说，出现这种问题的原因就是Git已经开始管理这些文件了，所以你无法再通过过滤规则过滤它们。因此一定要养成在项目开始就创建.gitignore文件的习惯，否则一旦push，处理起来会非常麻烦。

.DS_Store
node_modules/
/dist/
/src/project/testDemo/
npm-debug.log*
pnpm-lock.yaml*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
# .eslintrc.js
.idea
.vscode
.env.lg.local
.env.cl.local
.env.zq.local
.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.zip
